{% extends "base.html" %}
{% block title %}Critical Supply Network{% endblock %}
{% block content %}
<div class="px-4 py-5 my-2 text-center hero-home text-white">
    <h1 class="display-1 fw-bold">Critical Supply
        Network</h1>
</div>
<div class="container">
    <p class="lead text-center py-5 fs-3">A centralized inventory management system for all critical supplies</p>
</div>
<div class="container mb-5">
    <div class="row">
        <div class="col-md-6">
            <h4>Our Mission</h4>
            <p>We aim to close the supply gaps that were exposed during the Covid 19 pandemic by offering affordable
                inventory tracking management for all suppliers, large and small and an online marketplace connecting
                buyers, such as government agencies, hospitals and schools to vetted manufacturers large and small</p>
        </div>
        <div class="col-md-6">
            <h4>Benefits of Inventory Management</h4>
            <p>Better Inventory Accuracy: With solid inventory management, you know what's in stock and order only the
                amount of inventory you need to meet demand. </p>
            <p>Reduced Risk of Overselling: Inventory management helps track what's in stock and what's on back order,
                so you don't oversell products.</p>
        </div>
        <div class="col-md-6">
            <h4>Access for Small Manufacturers</h4>
            <p>Smaller manufacturers often miss out on the benefits of inventory management due to the high costs of
                technology implementation. We offer an affordable solution that enables these small and mid-size
                manufacturers to benefit from the analytics and insights that has previously only been available to
                larger companies.</p>
        </div>
        <div class="col-md-6">
            <h4>Public and Private Sector in one place</h4>
            <p>The federal government maintains aa National Stockpile for critical supplies,, but fails to accurately
                assess the supply capabilities of the private sector. The Critical Supply Network gives an overview of
                critical supply levels. </p>
        </div>
    </div>
</div>
<div class="container col-xxl-8 px-4 py-1">
    <div class="row flex-lg-row align-items-center g-5 py-1">
        <div class="col-12 col-sm-8 col-lg-6">
            <img src="{{url_for('static', filename='images/how_it_works.jpg')}}" class="d-block mx-lg-auto img-fluid"
                alt="how it works" width="700" height="" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">How it Works</h1>
            <p class="lead">Sensors placed on machinery send real-time inventory data to the Critical Supply Network,
                which can be accessed by the manufacturer with data analytics and machine learning to make important
                insights about production quantities and industry demand.</p>
        </div>
    </div>
</div>
<div class="container col-xxl-8 px-4 py-1">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-1">
        <div class="col-12 col-sm-8 col-lg-6">
            <img src="{{url_for('static', filename='images/marketplace.jpg')}}" class="d-block mx-lg-auto img-fluid"
                alt="A Marketplace of fairness and efficiency" width="700" height="" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">A Marketplace of fairness and efficiency</h1>
            <p class="lead">Our vendors are vetted, to ensure products meet industry standards, which eliminates the
                risk of economic loss from buying counterfeit products. Real-time inventory levels help manufacturers
                adjust production levels, reducing waste or meeting demand. Our marketplace connects buyers and sellers
                using machine learning technology to recommend the best fit.</p>
        </div>
    </div>
</div>
<div class="container text-center my-5">
    <h2 class="display-4">Critical Industries</h2>
    <p class="lead text-center fs-3">To reduce the National Security threat, President Biden has ordered a review
        of the following industries with high foreign dependency: Semiconductors, batteries, pharmaceuticals and
        materials</p>
</div>
<div class="container py-2" id="icon-grid">
    <div class="row row-cols-md-4 g-4 py-2">
        <div class="col d-flex align-items-start">
            <i class="bi text-light-blue flex-shrink-0 me-3 fas fa-biohazard fa-3x"></i>
            <div>
                <h4 class="fw-bold mb-0">Biological Preparedness
                </h4>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <i class="bi text-light-blue flex-shrink-0 me-3 fas fa-atom fa-3x"></i>
            <div>
                <h4 class="fw-bold mb-0">Energy
                </h4>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <i class="bi text-light-blue flex-shrink-0 me-3 fas fa-plane fa-3x"></i>
            <div>
                <h4 class="fw-bold mb-0">Defense
                </h4>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <i class="bi text-light-blue flex-shrink-0 me-3 fas fa-utensils fa-3x"></i>
            <div>
                <h4 class="fw-bold mb-0">Food Production
                </h4>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <i class="bi text-light-blue flex-shrink-0 me-3 fas fa-desktop fa-3x"></i>
            <div>
                <h4 class="fw-bold mb-0">Information Technology
                </h4>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <i class="bi text-light-blue flex-shrink-0 me-3 fas fa-plus-square fa-3x"></i>
            <div>
                <h4 class="fw-bold mb-0">Public Health
                </h4>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <i class="bi text-light-blue flex-shrink-0 me-3 fas fa-bus fa-3x"></i>
            <div>
                <h4 class="fw-bold mb-0">Transportation
                </h4>
            </div>
        </div>

    </div>
</div>
<div class="container-fluid my-5 py-5 bg-light text-dark">
    <div class="row align-items-center">
        <div class="col-md-7">
            <p class="lead text-center fs-3">Contact us today to learn more about how your business can benefit from our
                platform</p>
        </div>
        <div class="col-md-5">
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <a class="btn btn-primary me-md-2" type="button" href="/login/">Join Today</a>
                <a class="btn btn-outline-primary" type="button" href="/about/">Contact us</a>
              </div>
        </div>
    </div>
</div>
{% endblock %}