/* CSS: Python Flask */
.text-light-blue {
    color: #8dc3f2 !important;
}
.hero-home {
    background-color: black;
    background-image: linear-gradient(180deg,rgba(0,0,0,.3),rgba(0,0,0,.3)),url(../images/pexels-christina-morillo-1181354.jpg);
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

#sidebarMenu {
    font-size: 0.8rem;
}